
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Guide</title>
   <link rel="stylesheet" href="../../css/login.css">
</head>
<body>
    <h1>여행가이드 서비스</h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/21/17/44/arches-national-park-1846759_640.jpg">
    
    <h2>

    <p>취향에 맞는 여행을 즐겨보세요!</p>
    </h2>
    <h3>LOGIN</h3>
    ID: <input type = "text" class = "mid">
    Password: <input type = "password" class = "mpassword">
    <button type = "button" onclick = "login()" >
        Log In
    </button>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>