<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="../../css/signup.css">
</head>
<body>
    <h1>회원가입 페이지</h1>
    <img src="https://cdn.pixabay.com/photo/2016/08/04/17/51/holiday-1569608_640.jpg">
    <h2>여행가이드 서비스를 이용하시려면 회원가입을 해주세요!</h2>
    <div>
        <form id="signupForm">
            아이디: <input type="text" name="mid"><br>
            비밀번호: <input type="password" name="mpassword"><br>
            MBTI: <select name="mmbti">
               <option value = "ISTJ"> ISTJ </option>
               <option value = "ISTP"> ISTP </option>
               <option value = "ISFJ"> ISFJ </option>
               <option value = "ISFP"> ISFP </option>
               <option value = "INTJ"> INTJ </option>
               <option value = "INTP"> INTP </option>
               <option value = "INFJ"> INFJ </option>
               <option value = "INFP"> INFP </option>
               <option value = "ESTJ"> ESTJ </option>
               <option value = "ESTP"> ESTP </option>
               <option value = "ESFJ"> ESFJ </option>
               <option value = "ESFP"> ESFP </option>
               <option value = "ENTJ"> ENTJ </option>
               <option value = "ENTP"> ENTP </option>
               <option value = "ENFJ"> ENFJ </option>
               <option value = "ENFP"> ENFP </option>
            </select>
            <button type="button" class="signupbtn" onclick="signup();">회원가입</button>
        </form>
    </div>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/signup.js"></script>
</body> 
</html>